<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zss98.AuthorityResolving.Mapper.ResMapper">
    <select id="getAll" resultType="com.zss98.AuthorityResolving.Entity.UserDTO">
        select
            *
        from
            sys_user
        where
            isDelete = 0
    </select>
</mapper>